@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SpotifyMixUI";
  src: url("./assets/fonts/SpotifyMixUI-Regular-76c92fb1a35c462f73429fa8865163eb.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SpotifyMixUITitle";
  src: url("./assets/fonts/SpotifyMixUITitleVariable-08bab3354d40f74e5177917b5ae80894.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
}

@layer base {
  html {
    font-family: "SpotifyMixUI", sans-serif;
    scroll-behavior: smooth;
  }

  html,
  body,
  #root {
    font-family: "SpotifyMixUI", sans-serif;
    height: 100%;
  }

  h1,
  h2,
  h3 {
    font-family: "SpotifyMixUITitle",  sans-serif;
  }

  button,
  input,
  select,
  textarea {
    font: inherit;
  }

  body {
    margin: 0;
  }
}

.custom-range {
  background: linear-gradient(to right,
      #ffffff var(--progress),
      rgba(255, 255, 255, 0.14) var(--progress));
}

.custom-range::-webkit-slider-thumb {
  appearance: none;
  width: 0;
  height: 0;
  transition: all 0.15s ease;
}

.custom-range:hover::-webkit-slider-thumb,
.custom-range:active::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border-radius: 999px;
  background: white;
}

.custom-range:hover,
.custom-range:active {
  background: linear-gradient(to right,
      var(--range-color) var(--progress),
      rgba(255, 255, 255, 0.14) var(--progress));
}

.custom-range::-moz-range-thumb {
  width: 0;
  height: 0;
  border: 0;
}

.custom-range:hover::-moz-range-thumb,
.custom-range:active::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 999px;
  background: white;
}